<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit 
  this is a test for fucking version 
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--Desarrollo base de datos Cognos-->
    <add name="DefaultConnection" connectionString="Data Source=FCXLFFOREROG\SqlServer2012;Initial Catalog=Cognos;persist security info=True;user id=sa;password=Software1" providerName="System.Data.SqlClient" />
    <add name="EntitiesRakenData" connectionString="metadata=res://*/Models.ModelRakenData.csdl|res://*/Models.ModelRakenData.ssdl|res://*/Models.ModelRakenData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FCXLFFOREROG\SqlServer2012;initial catalog=Cognos;persist security info=True;user id=sa;password=Software1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Desarrollo base de datos CognosStaging-->
    <!--<add name="DefaultConnection" connectionString="Data Source=FCXLFFOREROG\SqlServer2012;Initial Catalog=CognosStaging;persist security info=True;user id=sa;password=Software1" providerName="System.Data.SqlClient" />
    <add name="EntitiesRakenData" connectionString="metadata=res://*/Models.ModelRakenData.csdl|res://*/Models.ModelRakenData.ssdl|res://*/Models.ModelRakenData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FCXLFFOREROG\SqlServer2012;initial catalog=CognosStaging;persist security info=True;user id=sa;password=Software1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Staging-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.30.47.200;Initial Catalog=cognos;persist security info=True;user id=cognos;password=cognosusr" providerName="System.Data.SqlClient" />
    <add name="EntitiesRakenData" connectionString="metadata=res://*/Models.ModelRakenData.csdl|res://*/Models.ModelRakenData.ssdl|res://*/Models.ModelRakenData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.47.200;initial catalog=Cognos;persist security info=True;user id=cognos;password=cognosusr;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Produccion-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.30.47.215;Initial Catalog=Cognos;persist security info=True;user id=cognos;password=C0gno$usr" providerName="System.Data.SqlClient" />
    <add name="EntitiesRakenData" connectionString="metadata=res://*/Models.ModelRakenData.csdl|res://*/Models.ModelRakenData.ssdl|res://*/Models.ModelRakenData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.30.47.215;initial catalog=Cognos;persist security info=True;user id=cognos;password=C0gno$usr;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Configuracion servidor LDAP-->
    <add key="servidorLDAP" value="corporativo.benavides.com.mx" />
    <add key="usuarioLDAP" value="cognos" />
    <add key="claveLDAP" value="Farmacia1" />
    <add key="dominio" value="Corporativo" />

    <!--Configuracion carga programada-->

    <!-- Tiempo en horas que revisa las cargas a subir automaticamente-->
    <add key="tiempoCargaAutomatica" value="3" />

    <!-- 1-> procesa las cargas a subir automaticamente. 0-> no procesa -->
    <add key="procesaCargaAutomatica" value="0" />

    <!-- nombre prefijo archivo balance -->
    <add key="nombreArchivoBalance" value="MEX_SALCTA_" />

    <!-- nombre prefijo archivo Intercompañia -->
    <add key="nombreArchivoIntercomania" value="MEX_SALINT_" />


    <!--Configuracion configuracion archivo de LOG-->
    <!--<add key="logPath" value="C:\temp" />-->
    <!-- ruta en la cual se creara el archivo de log -->
    <add key="writeLog" value="1" />
    <!-- Indicador si se crea archivo de log 1->si 0-> no -->

    <!--Configuracion servidor correo electronico-->
    <add key="emailSubject" value="Se realizo el carge del archivo {0}) " />
    <add key="credentialsNeeded" value="true" />
    <add key="enableSSL" value="false" />
    <add key="sMTP" value="smtp.smtp.com" />
    <add key="sMTPPort" value="587" />
    <add key="fromEmailUser" value="validadorx@correo.com" />
    <add key="toEmailUser" value="mmbattou@gmail.com" />
    <add key="autenticationEmailUser" value="validadorx@correo.com" />
    <add key="autenticationEmailPassword" value="@Inicio01" />

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <roleManager enabled="true" defaultProvider="SqlRoleManager">
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnection" applicationName="MyApplication" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>