@{
    ViewBag.Title = "Carga Balance / Resultados";
}

<h2>Carga Balance / Resultados </h2>

<div id="progress" align="center">
    <img src="../img/esperar.gif" alt="" height="200" width="200" />
    <h2>Cargando.................</h2>
</div>

<div id="exito" align="center" class="field-validation-error">
    <h2>El archivo se cargó satisfactoriamente.</h2>
</div>
<div id="error" align="center" class="field-validation-error">
    @*<h2>Error:</h2>*@
    <h3><div id="desError"></div></h3>
</div>
<div id="EnvioCarga">  
    <input type="file" name="file" id="file" /><br>      
    <input type="button" name="CargarAsyn" id="CargarAsyn" value="Carga Balance / Resultados" class="btn btn-default"/>
</div>

<script>
    $("#document").ready(function ()
    {
        $('#progress').hide();
        $('#exito').hide();
        $('#error').hide();
        $('#EnvioCarga').show();

        $("#CargarAsyn").click(function ()
        {
            $('#progress').show();
            $('#EnvioCarga').hide();
            $('#exito').hide();
            $('#error').hide();

            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('file');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            $.ajax({
                url: "/CargaBalance/CargarBalance",
                type: 'POST',
                contentType: false,
                processData: false,
                data:formdata,
                success: function (result) {
                    if (result == "") {
                        $('#exito').show();
                        $('#progress').hide();
                        $('#EnvioCarga').hide();
                        $('#error').hide();
                    }
                    else {
                        $("#desError").append("<p>" + result + "</p>");
                        $('#error').show();
                        $('#progress').hide();
                        $('#EnvioCarga').hide();
                        $('#exito').hide();
                    }
                },
                error: function() {
                    ('#error').show();
                    $('#exito').hide();
                    $('#progress').hide();
                    $('#EnvioCarga').hide();                 
                }
            });
        })
    })
</script>

