@{
    ViewBag.Title = "Carga Balance / Resultados";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

@if (!ViewData.ModelState.IsValid)
{
    <div>Error</div>
    @Html.ValidationMessage("Error")
}


<body>
    <div>
        Carga Balance / Resultados 
        @using (Html.BeginForm("CargarBalance", "CargaBalance", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" /><br>
    <input type="submit" name="Submit" id="Submit" value="Carga Balance / Resultados" />
        }
    </div>
</body>
</html>
