body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*************************************************************/
/*       MENU*/
/*************************************************************/
     * {
            margin: 0px;
            padding: 0px;
        }

        #header {
            margin: auto;
            width: 500px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul, ol {
            list-style: none;
        }

        .nav > li {

            float: left;
        }

        /*Sub menus */
        .nav li a {
            /*background-color: #000;*/
            background-color: #428bca;
            color: #fff;
            text-decoration: none;
            padding: 10px 12px;
            display: block;
        }

            .nav li a:hover {
                background-color: #434343;
            }

        .nav li ul {
            display: none;
            position: absolute;
            min-width: 140px;
            background-color: #428bca;
        }
             .nav li:hover > ul {
            display: block;
        }

        .nav li ul li {
            position: relative;
        }

            .nav li ul li ul {
                right: -140px;
                top: 0px;
            }
