@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <img class="center-block" src="~/img/FarmaciaBenavides 400x333.png" />           
        </div>
        <div class="span4"></div>
    </div>
</div>


